
<h4>Register</h4>
<form action="<%= register_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div class="form-group">
        <input type="text"  name="user[first_name]" class="form-control" id="first_name" placeholder="First Name" />
    </div>
    <div class="form-group">
        <input type="text" name="user[last_name]" class="form-control" id="last_name" placeholder="Last Name" />
    </div>
    <div class="form-group">
        <input type="text" name="user[email]" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <input type="password" name="user[password]" class="form-contol" id="password" placeholder="Password" />
    </div>
    <div class="form-group">
        <input type="password" name="user[password_confirmation]" id="password_confirmation" placeholder="Password Conformation" />  
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
